* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDF8F2;
}

.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-left img {
  width: 280px;
}
.header-right {
  display: flex;
  gap: 20px;
}
.header-right ul, .header a {
  display: flex;
  gap: 50px;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #211F1F;
  margin-top: 5px;
}
.header-button-white {
  border: 1px solid #211F1F;
  outline: none;
  background: none;
  border-radius: 20px;
  width: 110px;
  height: 40px;
  margin-left: 50px;
  cursor: pointer;
}
.header-button-black {
  border: 1px solid #211F1F;
  outline: none;
  background: #211F1F;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.main-top {
  width: 100%;
  height: 540px;
  text-align: center;
  margin-top: 90px;
}
.main-up {
  border: 1px solid #F2F4F7;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  margin-top: 90px;
}
.main-up-text {
  font-family: Fraunces;
  font-weight: unset;
  color: #101828;
  font-size: 60px;
  margin-top: 30px;
}
.main-up-text2 {
  font-family: Fraunces;
  font-weight: unset;
  color: #101828;
  font-size: 60px;
}
.main-low-text {
  color: #667085;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
.main-low-text2 {
  color: #667085;
  font-weight: unset;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8px;
}
.main-button-white {
  border: 1px solid #211F1F;
  outline: none;
  background: none;
  border-radius: 20px;
  width: 130px;
  height: 43px;
  margin-left: 50px;
  cursor: pointer;
  margin-top: 40px;
}
.main-button-black {
  border: 1px solid #211F1F;
  outline: none;
  background: #211F1F;
  color: white;
  border-radius: 20px;
  width: 110px;
  height: 40px;
  cursor: pointer;
}
.main-bottom {
  width: 500px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 30px;
}
.main-section-1 {
  display: flex;
  padding-left: 20px;
  padding-top: 90px;
  width: 100%;
  height: 500px;
  gap: 90px;
  padding-left: 90px;
}
.main-line-orange {
  background-color: #DE5217;
  width: 430px;
  height: 2px;
}
.main-orange i {
  padding-top: 20px;
  color: #DE5217;
  padding-bottom: 20px;
  font-size: 20px;
}
.main-orange-text {
  color: #101828;
  font-family: Fraunces;
  font-weight: unset;
  font-size: 40px;
}
.main-blue {
  padding-top: 90px;
}
.main-line-blue {
  background-color: #007CC2;
  width: 430px;
  height: 2px;
}
.main-blue i {
  padding-top: 20px;
  color: #007CC2;
  padding-bottom: 20px;
  font-size: 20px;
}
.main-blue-text {
  color: #101828;
  font-family: Fraunces;
  font-weight: unset;
  font-size: 40px;
}
.main-section-2 {
  background-color: #FED501;
  width: 100%;
  height: 400px;
  text-align: center;
  padding-top: 90px;
}
.main-section-title {
  font-family: Fraunces;
  color: #211F1F;
  font-weight: unset;
  font-size: 40px;
  padding-bottom: 20px;
}
.main-section-low {
  font-family: Arial, Helvetica, sans-serif;
  color: #211F1F;
  padding-top: 3px;
}
.main-joinus {
  border: 1px solid #211F1F;
  outline: none;
  background: #211F1F;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 70px;
}
.main-2-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-right-side img {
  width: 700px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-2-side-left {
  text-align: center;
  margin-left: 98px;
}
.main-leftside-up {
  border: 1px solid #F2F4F7;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}
.main-leftside-text {
  font-family: Fraunces;
  font-weight: unset;
  font-size: 48px;
  color: #100D0B;
  margin-bottom: 30px;
}
.main-leftside-title {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 7px;
}
.main-Reiki {
  border: 1px solid #211F1F;
  outline: none;
  background: #211F1F;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-top: 50px;
}
.main-center img {
  width: 300px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 70px;
}
.main-flex-all {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
}
.main-center-text {
  text-align: center;
  margin-top: 70px;
  font-family: Fraunces;
  font-weight: unset;
  font-size: 40px;
  color: #211F1F;
}
.main-flex-text {
  text-align: center;
  color: #211F1F;
  font-family: Fraunces;
  font-size: 30px;
  font-weight: unset;
  margin-bottom: 10px;
}
.main-flex-title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #211F1F;
  font-size: 15px;
  margin-top: 5px;
}
.main-flex-right img {
  width: 400px;
}
.main-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 98px;
  height: 900px;
}
.main-about-right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 580px;
  height: 600px;
}
.main-about i {
  font-size: 50px;
  margin-bottom: 60px;
}
.main-about-text {
  font-family: Fraunces;
  font-size: 27px;
  color: #211F1F;
  font-weight: unset;
}
.main-about-button {
  border: 1px solid #211F1F;
  outline: none;
  background: #211F1F;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin-top: 70px;
}
.main-emoji {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 98px;
  height: 390px;
}
.main-emoji i {
  font-size: 40px;
  margin-bottom: 30px;
}
.main-emoji-text {
  font-family: Fraunces;
  font-size: 40px;
  color: #211F1F;
  font-weight: unset;
}
.main-emoji-title1 {
  margin-top: 30px;
  color: #667085;
}
.main-emoji-title {
  color: #667085;
}
.main-left-emoji i {
  color: #007CC2;
}
.main-right-emoji i {
  color: #DE5217;
}
.main-z-index {
  width: 1100px;
  height: 180px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 90px;
  position: relative;
  top: 80px;
}
.main-index-up h4 {
  font-family: Fraunces;
  font-weight: unset;
  font-size: 30px;
}
.main-index-up-right p {
  color: #667085;
  font-size: 13px;
}
.main-index-up-right a {
  color: #211F1F;
}
.main-index-up-right button {
  border: 1px solid #211F1F;
  outline: none;
  background: #211F1F;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-left: 20px;
}
.main-index-up-right input {
  width: 300px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #667085;
  padding: 10px;
}
.main-index-up-right ::-moz-placeholder {
  color: #211F1F;
  font-family: Arial, Helvetica, sans-serif;
}
.main-index-up-right ::placeholder {
  color: #211F1F;
  font-family: Arial, Helvetica, sans-serif;
}
.main-2-write {
  background-color: #211F1F;
  width: 100%;
  height: 390px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
}
.main-write-text {
  font-weight: unset;
  font-family: Fraunces;
  font-size: 50px;
}
.main-write-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 10px;
}
.main-calendar {
  border: 1px solid white;
  outline: none;
  background: none;
  border-radius: 20px;
  width: 140px;
  height: 30px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
}
.main-left-write h1 {
  color: #A4C14D;
}
.main-left-write {
  padding-top: 50px;
}
.main-right-write h1 {
  color: white;
}
.main-finsh {
  text-align: center;
  margin: 90px;
}
.main-finsh-center img {
  width: 600px;
  height: 590px;
  margin-top: 60px;
}
.main-finsh-up h1 {
  font-family: Fraunces;
  font-size: 40px;
  font-weight: unset;
  padding-bottom: 17px;
  color: #100D0B;
}
.main-finsh-title {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}
.main-share {
  border: 1px solid #211F1F;
  outline: none;
  background: #211F1F;
  color: white;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.footer {
  background-color: #000000;
  width: 100%;
  height: 380px;
  padding: 80px;
}
.footer-up-text ul, .footer a {
  display: flex;
  gap: 25px;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 20px;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: #475467;
  margin-top: 90px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.footer-title {
  color: #D0D5DD;
}
.footer-bottom-right img {
  margin: 10px;
}/*# sourceMappingURL=style.css.map */